/*
============================
Índice:
============================

1. Configuraciones Globales
2. Inicio de sesión
3. Configuraciónes de Admin
    3.1 Header
    3.2 Navigator
4. Main
    4.1 Noticias
============================

===========================
1. Configuraciones Globales
===========================
*/
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 3px !important;
    background-color: #e8e8e7;
}
::-webkit-scrollbar{
    width: 0.5em;
    border-radius: 3px !important;
}

::-webkit-scrollbar-thumb{
    border-radius: 3px !important;
    background-color: rgba(2, 118, 184, .8);
}
::-webkit-scrollbar-corner {
      background-color: #0276b8;
}

*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-blue{
    position: relative;
    padding: 5px 10px;
    background-color: #0276b8;
    border-radius: 5px;
    color: lavender;
    border-bottom: 5px solid #76bddb;
}

/*
========================
2. Inicio de Sesión
========================
*/

.container-auth{
    background-image: url("../../public/img/background-login.jpg");
    background-size: cover;
    color: #fff;
    height: 100vh;
    position: relative;
    width: 100%;
}
.content-auth{
    width: 320px;
}
.content-auth form .input-group-text,
.content-auth form input[type=text],
.content-auth form input[type=email],
.content-auth form input[type=password],
.content-auth form input[type=submit]
 {
    background-color: rgba(2, 118, 184, .3);
    border: none;
    color: #fff;
    height: 3em;
    transition: 0.5s ease all;
}
.content-auth form input::placeholder{
    color: #fff;
}
.content-auth form input[type=text]:focus,
.content-auth form input[type=email]:focus,
.content-auth form input[type=password]:focus{
    background-color: rgba(2, 118, 184, .3);
    border-color: transparent;
    box-shadow: none;
    color: #fff;
    outline-style:none;
}
.content-auth form input[type=submit]{
    border-bottom: 5px solid #0276b8;
    width: 100%;
}
.content-auth form input[type=submit]:hover{
    background-color: #0276b8;
    border-bottom: 5px solid #76bddb; 
    font-weight: bold;
}
.content-login, .content-recover{
    overflow: hidden;
    transition: 1s linear all;
    opacity: 1;
    height: auto;
}
.toggle-content{
    opacity: 0 !important;
    height: 0 !important;
}
.span-link{
    text-decoration: underline;
    cursor: pointer;
}
/*
===========================
3. Configuraciónes de Admin
===========================
*/

.container-admin{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

    /*
    ===========================
    3.1 Header
    ===========================
    */

    .container-admin header{
        position: relative;
        height: 80px;
        background-color: lavender;
    }
    .container-admin header .col-img-logo{
        border-right: none !important;
        box-shadow: 5px 0 5px -5px gray;
    }
    .container-admin header img{
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    .container-admin header .btn-logout{
        position: relative;
        padding: 5px 10px;
        background-color: #0276b8;
        border-radius: 5px;
        color: lavender;
        border-bottom: 5px solid #76bddb;
    }

    /*
    ===========================
    3.2 Navigator
    ===========================
    */
    .container-admin nav{
        background-color: #0276b8;
        height: calc(100vh - 80px);
    }
    
    .container-admin nav li a{
        border-bottom: 1px solid #2D83E1;
        color: #fff;
        font-size: 16px;
        transition: .5s ease all;
    }

    .container-admin nav li a i{
        transition: .5s ease all;
    }
    
    .container-admin nav li a:hover{
        border-bottom: 2px solid #2D83E1;
    }

    .container-admin nav li a:hover i{
        margin-left: 5px;
    }

/*
===========================
4. Main
===========================
*/
.main-background{
    background-image: url("../../public/img/main-background.jpg");
    background-size: cover;
}
main{
    position: relative;
    height: calc(100vh - 80px);
    background-color: rgba(255,255,255,0.9);
    overflow: hidden;
    overflow-y: auto;
}

.section-data{
    border: 1px solid gainsboro;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

    /*
    ===========================
    4.1 Noticias
    ===========================
    */
    img.img-noticia{
        width: 100%;
        height: 250px;
    }
    .card-title{
        width: 100%;
        height: 80px;
        margin: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #ver-editar-noticia .card{
        width: 100%;
    }