/* todos los titulos h3 */
h3{
    background-color: #FFd600;
    border-color: #0276b8 #808080;
    text-align: center;
    border-width: 10px;
    border-style: groove;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer; 
} 
h3:hover{
     
}

/* todos los parrafos */
p{
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    color: #000000;
    line-height: 20pt; 
    font-size: 1em; 
}
/* todos los subtitulos */
h4{
    color: #FF5733;
    margin-left: 10%;
    margin-right: 10%;
    cursor: grab;
}
/* cambiar de color al pasarle el mouse en el h4 */
h4#cambiar:hover{
    color: #4AC9B0;
}
/* todos los ul se alejen del borde derecho e izquierdo */
ul{
    margin-left: 10%;
    margin-right: 10%;
}
/* color de fondo del footer */
footer{
    background-color: #ffff;
    position: relative;
    flex: 0 0 auto;
}
b#footer{
    /* background-color: #FFd600; */
    padding-left: 20px;
    padding-right: 20px;
}
/* color de todos los body */
body{
    background-color: #EED6D0;
}
/* imagen que va dentro de el modal */
img#uno{
    display:block;
    margin:auto;
    width: 120px;
    height: 120px;
}
/* boton del cargo */
button#cargo{
    margin-left: 30px;
    float: right;
    color: #0276b8;
    line-height: 20pt; 
    font-size: 15pt;
    animation: btn-girar 10s infinite; 
    animation-timing-function: linear;
    cursor: grab;
}
/* estilo de el mapa */
iframe{
    width: 100%;
    height: 500px;
    border: #FF5733;
}
div#iframe{
    text-align: center;
    border: #FF5733;
}
/* cambiarle el color a un icono */
i#color{
    color: #FF5733;
    font-size: 25px !important;
}
@keyframes btn-girar {
    from{
        /* , 0px */
        transform: translate(-160px, 0px);
    }
    /* -2px, -9px) */
}

.btn-blue{
    position: relative;
    padding: 5px 10px;
    background-color: #0276b8;
    border-radius: 5px;
    color: lavender;
    border-bottom: 5px solid #76bddb;
}